@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-5 {
    height: 5px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-5 {
    height: 5px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-10 {
    height: 10px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-10 {
    height: 10px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-15 {
    height: 15px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-15 {
    height: 15px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-20 {
    height: 20px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-20 {
    height: 20px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-30 {
    height: 30px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-30 {
    height: 30px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-40 {
    height: 40px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-40 {
    height: 40px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-50 {
    height: 50px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-50 {
    height: 50px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-60 {
    height: 60px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-60 {
    height: 60px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-70 {
    height: 70px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-70 {
    height: 70px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-80 {
    height: 80px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-80 {
    height: 80px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-90 {
    height: 90px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-90 {
    height: 90px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-100 {
    height: 100px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-100 {
    height: 100px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-150 {
    height: 150px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-150 {
    height: 150px; } }
@media screen and (min-width: 769px) {
  .wp-block-exm-custom-spacer.hd-200 {
    height: 200px; } }
@media screen and (max-width: 768px) {
  .wp-block-exm-custom-spacer.hm-200 {
    height: 200px; } }
.wp-block-exm-custom-spacer.isEditor {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-weight: 800;
  width: 100%; }
