@import "../01-variables-site/variables-site";
@import "../02-mixins/mixins-master";

.image-slider{
    position: relative;

    .tns-controls{
        button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba($color_block_palet1, 0.15);
            border: none;
            color: $color_block_palet1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8rem;
            height: 8rem;
            font-size: 2.4rem;
            z-index: 1;
            transition: background-color .3s, color .3s;

            &:hover{
                background-color: rgba($color_block_palet1, 1);
                color: $default_secondary_color;
            }

            @include media-screen(){
                width: 4rem;
                height: 4rem;
                font-size: 1.2rem;
            }
        }

        [data-controls="prev"]{
            left: 0;
        }

        [data-controls="next"]{
            right: 0;
        }
    }

    .slide{
        position: relative;

        figure{
            margin: 0;
            line-height: 0;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: $default_secondary_color;
                opacity: 0.5;
                z-index: 1;
            }
        }
    }

    .content{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        z-index: 1;
        
        h1{
            color: $color_block_palet1;
            @include fluid-typo(320px, 1200px, 20px, 80px);
        }
    }

}