$site__content-max-width: 1200px; // max width du contenu.
$site__content-wide-max-width: 1700px; // max width du contenu wide.
$site__gutter: 15px; // espace gauche et droite pour le contenu.
$size__site-main: 100%; // width du .content-area
$size__site-sidebar: 25%; // width du sidebar
