.wp-block-exm-knowledgebase {
    padding-top:100px;
    @media screen and (max-width:768px) {
        margin: 0 15px;
        padding-top:50px;
    }
    &>button {
        background-color: #000;
        color: #fff;
        border:2px solid #000;
        font-weight: 600;
        transition: color 0.25s,background-color 0.25s;
        &+div{
            padding-top:25px;
        }
        &:hover{
            background-color: #fff;
            color: #000;
            font-weight: 600;
            border:2px solid #000;
        }
    }
    .empty{
        font-weight: 600;
    }
    &>div{
        display: flex;
        flex-wrap: wrap;
        &>div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding:1.8em;
            border: 1px solid #000;
            margin-bottom:0.5em;
            transition: background-color 0.25s ;

            @media screen and (min-width:769px) {
                width: calc(25% - 1em);
                &:nth-child(4n){
                    margin-left: 1em;
                    margin-right: 0em;
                }
                &:nth-child(4n-3){
                    margin-right: 1em;
                    margin-left: 0em;

                }
                &:nth-child(4n-1){
                    margin-right: 0.35em;
                    margin-left: 0.65em;

                }
                &:nth-child(4n-2){
                    margin-right: 0.65em;
                    margin-left: 0.35em;

                }
                
            }
            @media screen and (max-width:768px) {
                width: calc(50% - 0.5em);

                &:nth-child(2n){
                    margin-left: 0.5em;
                }
                &:nth-child(2n-1){
                    margin-right: 0.5em;
                }
                
            }
            &:hover{
                cursor: pointer;
                background-color: #E6E2E1;
            }

            img{
                align-self: center;
                max-height: 60px;
                max-width: 100px;

            }
           
            span {
                align-self: center;
                font-size: 16px ;
                font-weight: 700;
                margin-top:0.5em;
                text-align: center;
            }
        }
    }
}